name: Pull request Raise-event Workflow

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build-step
        run: |
          echo 'This step to build the code'
  
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test-step
        run: |
          echo 'This step to test the code'

  analyse:
    runs-on: ubuntu-latest
    steps:
      - name: Analyse-step
        run: |
          echo 'This step to Analyse the code'